<div class="content">
  <h1 class="title">FriendshipV2</h1>
  <div class="input">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Hello... Please provide Your name!</mat-label>
        <input type="email" matInput [formControl]="userNameFormControl" placeholder="Your name">
        <mat-error *ngIf="userNameFormControl.hasError('required')">
          Come on! You know Your name...
        </mat-error>

      </mat-form-field>
    </form>
    <mat-button-toggle (click)="SendMyName()">Send</mat-button-toggle>
  </div>
</div>
